@model UserTypeViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}
<script>
    $(function () {
        $('#example1').DataTable();
    })
    function GetDetails(id) {
        $.ajax({
            url: "/UserType/Edit/" + id,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (response) {
                $('#hfId').val(response.UserTypeId);
                $('#txtUpdateName').val(response.TypeName);
                $('#modal-Update').modal('show');
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
        return false;
    }
</script>
<body>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Customer List</h3>
                    </div>

                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>CustomerId</th>
                                    <th>Name</th>
                                    <th>Country</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.UserTypeList)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(module => item.UserTypeId)</td>
                                        <td>@Html.DisplayFor(module => item.TypeName)</td>
                                        <td>
                                            <a onclick="GetDetails(@item.UserTypeId)">

                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a>
                                                @Html.ActionLink(" ", "Delete", "UserType", new { id = item.UserTypeId }, new { onclick = "return confirm('Are sure wants to delete?');", @class = "fa fa-trash-o" })
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="modal-mrole">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header with-border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="box-title"> New Customer</h3>
                </div>
                <div class="modal-body">
                    <div class="box box-primary">
                        @using (Html.BeginForm("Add", "UserType", FormMethod.Post))
                        {
                            <div class="modal-body" style="height:200px">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Customer Name :</label>
                                        <input type="text" class="form-control" id="rolename" name="Name" placeholder="Customer Name">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <select class="form-control" name="Country">
                                            <option value="0">Select Country</option>
                                            <option value="United States">United States</option>
                                            <option value="India">India</option>
                                            <option value="France">France</option>
                                            <option value="Russia">Russia</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-Update">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header with-border">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="box-title"> Update Customer</h3>
                </div>
                <div class="modal-body" style="height:250px">
                    <div class="box box-primary">
                        @using (Html.BeginForm("Edit", "UserType", FormMethod.Post))
                        {
                            <div class="modal-body">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <input type="hidden" id="hfId" name="UserTypeId">
                                        <label for="exampleInputEmail1">Customer Name :</label>
                                        <input type="text" class="form-control" id="txtUpdateName" name="TypeName" placeholder="Customer Name">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Update</button>
                                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modal-mrole" style="margin-right:20px; ">
        Add New Customer
    </button>
</body>
